@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");

body {
  /*font-size: 16px;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IM Fell English", serif;
}

header {
  position: sticky;
  height: 3rem;
  background-color: black;
  display: flex;
}

.logo {
  height: 90%;
  width: auto;
}
.logoPrincipal{
  width: 20vw;
}

.gameName {
  color: white;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  
  
  
}

.gameName h1 {
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  
  
  
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.6em;
  padding: 0;
  width: 30vw;
 }

 /*  align-items:center; */

ul > li > a {
  text-decoration: none;
  color: white;
}
/*  align-items:center; */

.containerGames {
  height: 26em;
}

#screenGame {
  display: block;
  margin: 0 auto;
  background-image: url("/images/background/underwater-fantasy-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  
 }

/********** Logo et nom du jeu **********/
.footer{
  height: 100%;
}
footer {
  background-color: black;
  --text-color: rgb(200, 198, 198);
  color: var(--text-color); 
 
  
  
}

.logo_footer {
  display: flex;
  justify-content: center;
  height: 16vh;
}


.game_name_footer {
  text-align: center;
  font-size: 1.5em;
  /*margin-top: 5%;*/
}

/******** Accès aux réseaux sociaux *******/

.footer_social_medias {
  display: flex;
  }

.fa-discord,
.fa-twitter,
.fa-telegram {
  color: rgb(200, 198, 198);
  width: 32%;
  text-align: center;
  font-size: 1em;
}

.footer-legal {
  display: flex;
  font-size: 0.7em; /*responsive*/
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
}
.footer-legal1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}




.footer-legal>div{
  text-align: center;
}

/******** Informations légales ********/

 @media screen and (min-width: 768px) {

  .gameName > h1{
    font-size: 1.5em;
    text-align: right;
    padding-right: 5%;
  }

  ul{
    flex-direction: row;
    font-size: 0.8em;
    width: 70vw;
    
    
  }

  .game_name_footer {
    font-size: 2.2em;
    margin-top: 2%;
  }
  .footer_social_medias {
    font-size: 3em;
    padding: 4vh;
    margin: 0 4em;
    display: flex;
  }
  .footer-legal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    margin: 0 5em;
  }
} 

@media screen and (min-width: 1024px) {
  .footer_social_medias {
    margin: 0 6em;
  }




.gameName {
font-size: 0.5em;
}
.mainContent{  width: 40vw;
  height: 30em;
}
.containerGames {
  height: 30em;
}
#screenGame {
  background-image: url("/images/background/underwater-fantasy-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30em;
  width: 50%;
}
footer {
  background-color: black;
  --text-color: rgb(200, 198, 198);
  color: var(--text-color);
}
.logo_footer{
  padding-top: 3em;
  } 
}
 