body {
  /*font-size: 16px;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  height: 3rem;
  background-color: black;
  display: flex;
}

.logo {
  height: 90%;
  width:auto;
}
.logoPrincipal{
  width: 20vw;
}

.gameName {
  color: white;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  ;
  
  
}

.gameName h1 {
  font-size: 0.7em;
  text-align: center;
  width: 100%;
  
  
  
}

 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.6em;
  padding: 0;
  width: 30vw;
 }

 /*  align-items:center; */


.containerGames {
  height: 26em;
}

#screenGame {
  display: block; 
  margin: 0 auto;
  background-image: url("/images/background/underwater-fantasy-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 26em;
  width: 100vw;
 }

/********** Logo et nom du jeu **********/

footer {
  background-color: black;
  --text-color: rgb(200, 198, 198);
  color: var(--text-color);
  bottom: 0;
}

.logo_footer {
  display: flex;
  justify-content: center;
  height: 15vh;
}

.game_name_footer {
  text-align: center;
  font-size: 1em;
  /*margin-top: 5%;*/
}



#game-over-notify {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
}
.gameOverContent {
    display: flex;
    align-items: center;
    margin: 50px 120px;
    width:100%;
}



/* *************** SUCCESS *************** */
#success-notify {
    position: fixed;
    display: none;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
}
.successContent {
    text-align: right;
    margin: 50px 120px;
    width:100%;
}

*/

/******** Accès aux réseaux sociaux *******/

.footer_social_medias {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 2em;
  /*margin: 1em 2em;*/
}

.fa-discord,
.fa-twitter,
.fa-telegram {
  color: rgb(200, 198, 198);
}

.footer-legal {
  display: flex;
  font-size: 0.7em; /*responsive*/
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  height: 88px;
}
.footer-legal1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}




.footer-legal>div{
  text-align: center;
}

/******** Informations légales ********/

/* @media screen and (min-width: 718px) {
  .game_name_footer {
    font-size: 2.2em;
    margin-top: 2%;
  }

  .footer_social_medias {
    font-size: 3em;
    padding: 4vh;
    margin: 0 4em;
    display: flex;
  }

  .footer-legal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    margin: 0 5em;
  }
}

@media screen and (min-width: 1024px) {
  .footer_social_medias {
    margin: 0 6em;
  }
}



.gameName {
font-size: 0.5em;
}

.mainContent{
  height: 30em;
}

.containerGames {
  height: 30em;
}

#screenGame {
  background-image: url("/images/background/underwater-fantasy-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30em;
}

footer {
  background-color: black;
  --text-color: rgb(200, 198, 198);
  color: var(--text-color);
}

.logo_footer{
  padding-top: 3em;
} */
